.grid-display {
  display: flex;
  flex-direction: column; // rows are stacked on top of each other
}

.grid-row-display {
  display: flex; // each row is a line of cells left-right
  flex-wrap: nowrap;
}

.grid-cell-display {
  // Make them square
  width: 150px;
  height: 150px;
  border: 1px solid white;
  font-size: larger;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &.in-route {
    border: 5px dashed green;
  }

  &.unpassable {
    background-color: black;
  }

  &.walkable {
    background-color: grey;
  }
}
